/* Global styles */

* {
    font-family: 'Open Sans', sans-serif;
}

hr {
    border-style: solid;
    border-color: rgb(150, 150, 150);
}

h2 {
    color: rgb(82, 82, 82);
}

/* Header Styling */

header {
    background-color: rgb(82, 82, 82);
    text-align: center;
    padding: 10px;
}

header h1 {
    color: white;
}

/* "Sub-header" Styling */

.sub-header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.sub-header p {
    color: rgb(150, 150, 150);
}

/* General Fieldset Styling */

.section-wrapper {
    background-color: rgb(245, 245, 245);
}

fieldset {
    border: none;
}

/* Contact Section Styling */

#contact-section label {
    display: block;
    color: rgb(150, 150, 150);
}

#contact-section input {
    width: 100%;
    border-radius: 5px;
    margin: 15px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(230, 230, 230); 
    border-width: 0;
    box-shadow: 2px 2px 4px rgb(200, 200, 200);
    text-indent: 20px;
}

#contact-section input:focus, #contact-section select:focus {
    outline: none;
    box-shadow: 2px 2px 4px rgb(240, 180, 255);
    transition: 0.3s;
}

input::placeholder {
    text-align: right;
    padding-right: 10px;
    font-style: italic;
    color: rgb(200, 200, 200);
}

select {
    border-radius: 5px;
    margin: 15px auto;
    box-shadow: 1px 1px 4px rgb(200, 200, 200);
    height: 35px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    border: none;
    color: rgb(100, 100, 100);
    padding-left: 20px;
}

/* Newsletter Section Styling */

#newsletter-section {
    margin: 0 auto;
}

#newsletter-section p {
    color: rgb(150, 150, 150);
}

#newsletter-section label {
    color: rgb(100, 100, 100);
}

/* Textarea Styling */

#other-topics {
    margin-top: 30px;
    margin-bottom: 30px;
}

textarea {
    border-radius: 5px;
    border: 1px solid rgb(240, 180, 255);
    width: 90%;
    height: 150px;
    display: block;
    background-color: rgb(240, 240, 240);
    margin: 0 auto;
    box-shadow: 2px 2px 4px rgb(200, 200, 200);
}

textarea:focus {
    outline: none;
    box-shadow: 2px 2px 4px rgb(240, 180, 255);
    transition: 0.3s;
}

/* Submit Button Styling */

button {
    width: 300px;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    display: block;
    outline: none;
    box-shadow: 1px 1px 3px rgb(200, 200, 200);
    color: rgb(100, 100, 100);
    font-weight: bold;
    transition: 0.3s ease-out;
}

button:hover {
    background-color: rgb(240, 180, 255);
    color: rgb(255, 255, 255);
}

/* Footer Styling */

footer {
    text-align: center;
    color: rgb(150, 150, 150);
    padding-bottom: 20px;
}

/* Media Queries */

@media (min-width: 768px) {

    .wrapper {
        width: 80%;
        margin: 0 auto;
        max-width: 1000px;
    }


    .flex-container {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       max-width: 1000px;
       margin: 15px auto;
    }

    #contact-section input, select {
        width: 70%;
        margin-right: 10px;
    }
}